@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  font-weight: 500;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 600;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 14px;
}
.container {
  max-width: 1440px;
  max-height: 900px;
  display: flex;
  width: 100%;
  height: auto;
}

.bg {
  position: relative;
  max-width: 860px;
  height: auto;
  background: linear-gradient(180deg, #019da4 0%, #02798a 52.08%, #c79d09 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-svg {
  position: absolute;
  max-width: 642px;
  max-height: 643px;
  left: 399px;
  top: 180px;

  opacity: 0.2;
}
.logo-link {
  max-width: 154px;
  margin-left: 71px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.title {
  max-width: 687px;
  margin-left: 78px;
  margin-bottom: 130px;
  margin-right: 5px;
}
.bg-comp {
  max-width: 700px;/*821px;*/
  max-height: 398px;/*464px;*/
  bottom: 0;
  margin: 0 auto;
}

.comp-svg {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 33px;/* 40px;*/
  line-height: 48px;
  color: #fff;
  padding: 0;
  margin: 0;
}
.btn-hiden {
  display: none;
}
.form {
  max-width: 580px;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

 /* margin-top: 20%;125px*/
  margin-left: 20%;/*110px*/
  margin-right: 5px;
  margin-bottom: 5px;
}


.form-title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #192a3e;
  margin: 0;
  margin-bottom: 11px;
}

.form-title_color {
  color: #019da4;
}
.form-title-text {
  margin-bottom: 40px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
}

.form-groups {
  max-width: 377px;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 16px;
}
input {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}
.form-input {
  width: 100%;
  height: 50px;
  border: none;
  border: 1px solid #ebeff2;
  border-radius: 8px;
  padding: 0 26px;
  font-family: 'SF Pro Display';
  cursor: pointer;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #192a3e;
}

.form-label {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}
.form-input:active,
.form-input:hover {
  border: 1.5px solid #019da4;
}

.form-btn {
  width: 100%;
  height: 50px;
  background: #019da4;
  border-color: #019da4;
  border-radius: 8px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin-bottom: 16px;
  cursor: pointer;
}

.form-btn:hover{
  background-color: #017f8e;
}


@media (max-width: 1056px) {
  .form {
    width: 50%;
  }
  .bg {
    width: 50%;
  }
  .bg-svg {
    width: 350px;
    height: 350px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .logo-link {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .logo-img {
    width: 130px;
    height: 50px;
    object-fit: cover;
  }
  .title {
    margin-left: 20px;
  }
  h1 {
    font-size: 33px;
    line-height: 37px;
  }
  .form-wrapper{
    margin: 50px;
    
  }

}

@media(max-width: 780px){
 .form{
  width: 70%;
  background-color: #fff;
  min-width: 380px;
 }

 .form-title{
  font-size: 20px;
  line-height: 25px;
 }
 .form-title-text{
   font-size: 14px;
 }
 .form-input{
   height: 30px;
   padding: 20px 15px;
 }

 .bg{
   width: 30%;
 }
}

.login-link {
  display: inline-block;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.01em;

  color: #8890a6;
  cursor: pointer;
}
.login-span {
  color: #019da4;
  border-bottom: solid 1px #019da4;
}

.login-link:hover,
.login-span:hover{
  color: #017f8e;
}

.login-link-margin{
  margin-bottom: 20px;
}

@media (max-width: 428px) {
  .mobal {
    flex-direction: column;
    background: #f5f6f8;
  }
  .form {
    display: none;
  }
  .bg {
    width: 100%;
    height: 700px;
    justify-content: flex-start;
  }
  .bg-svg {
    width: 265px;
    height: 265px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .logo-link {
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 40px;
  }
  .logo-img {
    width: 106.04px;
    height: 41.44px;
    object-fit: cover;
  }
  .title {
    margin-left: 20px;
  }
  h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .bg-comp {
    display: none;
  }
  .btn-hiden {
    margin: 30px 16px;
    display: block;
  }
}

/* start-modal*/
.mobal-start {
  width: 375px;
  flex-direction: column;
  background: #f5f6f8;
  margin: 0 auto;
}

.bg-modal{
  width: 100%;
  height: 700px;
}

.bg-svg-modal {
  width: 265px;
  height: 265px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.logo-link-modal {
  margin-left: 25px;
  margin-top: 35px;
  margin-bottom: 40px;
  cursor: pointer;
}
.logo-img-modal {
  width: 106.04px;
  height: 41.44px;
  object-fit: cover;
}
.title-modal {
  margin-left: 20px;
  /*text-align: justify;*/
  margin-right: 35px;
}
.h1-modal {
  font-size: 25px;
  line-height: 30px;
}

.btn-modal{
  margin: 30px 16px;
  display: block;
  cursor: pointer;
}


/*form mobal*/
.form-mobal {
  width: 375px;
  background: #f5f6f8;
  padding-top: 120px;
  padding-bottom: 100px;
  margin: 0 auto;
}
.form-wrapper-mobal {
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  align-items: center;
  max-width: 375px;
}

.form-title-mobal {
  font-size: 32px;
  line-height: 125%;
}

.form-input-mobal {
  border: 1px solid #c2cfe0;
  font-size: 16px;
  line-height: 150%;
  color: #8890a6;
}

.password,
.googlin {
  position: relative;
}
.password-control {
  position: absolute;
  top: 27px;
  right: 19px;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #bdbdbd;
  background: url(/img/oko.svg) 0 0 no-repeat;
}

.googlin {
  align-items: center;
  margin-top: 12px;
}
.googlIcon {
  position: absolute;
  text-decoration: none;
  font-size: 16px;
  line-height: 125%;
  color: #181746;
}

.googlin-img,
.googlin-text {
  vertical-align: middle;
}

.form-text-line {
  overflow: hidden;
  text-align: center;
  margin-bottom: 6px;
}

.googlIcon:hover {
  color: #019da4;
}

.form-text-line span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -1px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #8890a6;
}

.form-text-line::before,
.form-text-line::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: #8890a6;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.form-text-line::before {
  margin-left: -100%;
  left: -16px;
}

.form-text-line::after {
  margin-right: -100%;
  right: -16px;
}

.login {
  text-align: center;
  width: 100%;
}

/* form-login checkbox*/
.custom-checkbox{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+.label-checkbox{
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+.label-checkbox::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #8890A6;
  border-radius: 3px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:not(:disabled):not(:checked)+.label-checkbox:hover::before{
  border: 1.5px solid #019DA4;
}

.custom-checkbox:not(:disabled):not(:checked)+.label-checkbox::before{
  border: 1.5px solid #8890A6;
}

.custom-checkbox:checked+.label-checkbox::before{
  border: 1.5px solid #019DA4;
  background-color: #019DA4;
  background-image: url(/img/checked.svg);
}

.label-checkbox{
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.01em;

  color: #8890A6;
}